
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chilanka&family=Lobster&family=Pacifico&family=Shadows+Into+Light&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
}

/* Navagation menu */
.nav-items{
    background-color:black;
    height: 70px;
    position: fixed ;   
    z-index: 1;
    width: 100%;
}
.nav-items ul{
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
    text-transform: uppercase;   
}
.nav-items ul li{
    display: inline;
}
.nav-items ul li a{
    display: inline-block;
    padding: 15px 35px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}
.nav-items ul li a:hover{
    background-color: gray;
    color: white;
}
.nav-items ul li a:focus{
    background-color: white;
    color: gray;
}
.nav-items ul li a:active{
    background-color: white;
    color: gray;
}

/* the header of the page */
header{
    background-image: url(../Digital\ Resume/image/writing-code.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
}
header .head-box{
    background-color: rgba(153, 151, 149, 0.8);
    color:#000000;
    transform: translateY(15%);
    padding: 2% 6%;
    margin: 0 15% 0 15%;
    text-align: center;
}
header .head-box img.main-photo{
    width: 170px;
    border: 5px solid #272727;
    margin-bottom: 20px;
    border-radius: 100px;
}
header .head-box h1{
    font-size: 36px;
    color: #000000;
    line-height: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
header .head-box h2{
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
header .head-box p{
    font-size: 15px;
    line-height: 30px;
    color: #1100ff;
    margin-bottom: 30px;
}
header .head-box a.download-btn{
    color: #1a1919;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
    border: 3px dotted #272727;
    padding:5px;
}
header .head-box a.download-btn:hover{
    background-color: rgb(182, 178, 178);
    text-decoration: underline;
}
header .head-box ul{
    list-style: none;
    margin-top: 40px;
    padding:0;
    text-align: center;
    margin-bottom: 0px;
}
header .head-box ul li{
    margin-right: 10px;
    display: inline;
}
header .head-box ul li a{
    display: inline-block;
    padding: 2px ;
}
header .head-box ul li a img{
    width: 40px;
}
header .head-box ul li a img.in-img:hover{
    background-color:rgb(70, 70, 247);
    border-radius: 20px;
}
header .head-box ul li a img.inst-img:hover{
    background-color:rgb(99, 39, 39);
    border-radius: 20px;
}
header .head-box ul li a img.git-img:hover{
    background-color:rgb(42, 42, 44);
    border-radius: 20px;
}

/* the experience  and education time line - W3school */
#experience{
    background-color: white;
    height: auto;
    padding-bottom: 5px;
}
#education{
    background-color:rgba(153, 151, 149, 0.8);
    height: auto;
    padding-bottom: 5px;
}
h1.headline{
    text-align: center;
    text-decoration: underline;
    padding-top: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-transform: uppercase;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    z-index:0 ;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: rgb(64, 83, 252);
    width: 50%;
    border-radius: 10px;
 }
.tl-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #000000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right{
    left:50%;
}  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -16px;
}
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;    
}
.content h1,h2{
    font-family: 'Chilanka', cursive;
}

/* the skills bar */
#skills{
    background-color: white;
    height: auto;
    padding-bottom: 40px;
    margin: 0 auto;
}
.skill-box{
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}
.skill-box p{
    font-family: 'Sriracha', cursive;
    text-transform: uppercase;
}
.skill-container {
    max-width: 100%; 
    background-color: #ddd; 
    margin: 0 auto;
}  
.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white;
}  
.html {width: 95%; background-color: #2196F3 ;} 
.css {width: 70%; background-color: #2196F3;} 
.java {width: 85%; background-color: #2196F3;} 
.python {width: 55%; background-color: #2196F3;}

/* the languages  bar */  
#languages{
    background-color: white;
    height: auto;
    padding-bottom: 60px;
    margin: 0 auto;
}
.lang-box{
    width: 30%;
    margin: 0 auto;
    padding-top: 40px;
}
.lang-box p{
    font-family: 'Sriracha', cursive;
}
.lang-container {
    max-width: 100%; 
    background-color: #ddd; 
    margin: 0 auto;
}
.lang {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white;
}
.english {width: 70%; background-color: #64be67;} 
.arabic {width: 97%; background-color: #64be67;} 
.dutch {width: 10%; background-color: #64be67;} 

/* the footer  */
#footer{
    height: 60px;
    background-color: rgb(51, 51, 51);
    text-align: center;
}
footer p{
    color: rgb(221, 215, 215);
    padding-top: 20px; 
    font-family: 'Pacifico', cursive;
}
